<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆注册页面</title>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
    <div class="panel-body" style="margin-left:40%;">
        <form class="form-horizontal" style="width: 40%;height:350px;background-color: #0f0f0f">
            <div class="form-group" style="width: 60%;margin-left:18%;">
                <div class="input-group input-group-lg" style="margin-top: 10%">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control">
                 </div>
            </div>
            <div class="form-group" style="width: 60%;margin-left:18%;">
                <div class="input-group input-group-lg" style="margin-top: 5%">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control">
                </div>
            </div>
        </form>
    </div>
</body>
</html>